.main{
    &__reviews {
        display: grid;
        place-items: center;
        & .container{
          max-width: 1240px;
          width: 100%;
        }
        &-items {
          display: flex;
          width: 1237px;
          align-items: flex-start;
          gap: 23.194px;
          flex-shrink: 0;
        }
    
        &-item {
          display: flex;
          width: 396.874px;
          padding: 23.194px;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 1.9px solid #bebcbd;
          background: $white;
    
          &-imgs {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
          }
    
          &-title {
            color: #3c4242;
            text-align: center;
            font-family: "Core";
            font-size: 22px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.44px;
          }
    
          &-text {
            overflow: hidden;
            color: #807d7e;
            text-overflow: ellipsis;
            font-family: "Causten";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.28px;
          }
        }
      }
}