@import "./vars.scss",
"./font.scss",
"./effect.scss",
"./header.scss",
"./scrollbar.scss",
"@/components/Footer/Footer.scss",
"@/components/Header/Header.scss",
"@/components/Main/Main.scss",
"@/components/MainArrivals/MainArrivals.scss",
"@/components/MainCard/MainCard.scss",
"@/components/MainFashion/MainFashion.scss",
"@/components/MainForMens/MainForMens.scss",
"@/components/MainForWomens/MainForWomens.scss",
"@/components/MainReviews/MainReviews.scss",
"@/components/MainSaleProducts/MainSaleProducts.scss",
"@/components/MainSaving/MainSaving.scss",
"@/components/MainSlider/MainSlider.scss",
'@/components/FooterNav/FooterNav.scss',
'@/components/Copyright/Copyright.scss',
'@/components/Filtering/Filtering.scss',
'@/components/FilterPricing/FilterPricing.scss',
'@/components/FilterColors/FilterColors.scss',
'@/components/FilterSizing/FilterSizing.scss',
'@/components/FilterTitle/FilterTitle.scss',
'@/components/FooterSocials/FooterSocials.scss',
"@/components/Clothing/Clothing.scss",
"@/components/ClothingProducts/ClothingProducts.scss",
"@/components/ClothingTitle/ClothingTitle.scss"
;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Causten";
  font-weight: 500;
}

section {
  max-width: 1385px;
  width: 100%;
  display: grid;
  place-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background: $bg;
}

#app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}