.range-value {
    position: absolute;
    top: -2rem;
}

.range-value.min {
    left: 0;
}

.range-value.max {
    right: 0;
}

.track-container {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 0.5rem;
}

.track,
.track-highlight {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5rem;
}

.track {
    background-color: #ddd;
}

.track-highlight {
    background-color: black;
    z-index: 2;
}

.track-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    top: calc(-50% - 0.25rem);
    margin-left: -1rem;
    border: none;
    background-color: black;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
    transition: box-shadow .3s ease-out, background-color .3s ease, -webkit-transform .3s ease-out;
    transition: transform .3s ease-out, box-shadow .3s ease-out, background-color .3s ease;
    transition: transform .3s ease-out, box-shadow .3s ease-out, background-color .3s ease, -webkit-transform .3s ease-out;
}